In [1]:
!pip install pandas pandasql matplotlib seaborn scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.14.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=fe123b44c9b61598073f720166a301333b7f72e322a2eff1213f909f8041e030
  Stored in directory: /root/.cache/pip/wheels/68/5d/a5/edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandasql as ps

In [3]:
sns.set(style='whitegrid') # to make the graphs look pretty

In [4]:
import os

os.listdir()

['.config',
 'Jan_2025.csv',
 'Mar_2025.csv',
 'Feb_2025.csv',
 'Apr_2025.csv',
 'sample_data']

In [7]:
jan = pd.read_csv('Jan_2025.csv')
feb = pd.read_csv('Feb_2025.csv')
mar = pd.read_csv('Mar_2025.csv')
apr = pd.read_csv('Apr_2025.csv')

In [8]:
# Combining the csv files
df = pd.concat([jan,feb,mar,apr], ignore_index = True)
# ignore_index to remove the index (unnecessary column)

In [9]:
df.shape

(2091035, 26)

In [10]:
df.columns

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_NM', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_NM', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [11]:
df.head(10)

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,...,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1/1/2025 12:00:00 AM,AA,N101NN,164.0,SFO,"San Francisco, CA",California,JFK,"New York, NY",New York,...,0.0,0.0,342.0,308.0,2586.0,NaN,NaN,NaN,NaN,NaN
1,1/1/2025 12:00:00 AM,AA,N101NN,76.0,JFK,"New York, NY",New York,SFO,"San Francisco, CA",California,...,0.0,0.0,400.0,388.0,2586.0,NaN,NaN,NaN,NaN,NaN
2,1/1/2025 12:00:00 AM,AA,N102UW,3244.0,SAT,"San Antonio, TX",Texas,CLT,"Charlotte, NC",North Carolina,...,0.0,0.0,167.0,145.0,1095.0,NaN,NaN,NaN,NaN,NaN
3,1/1/2025 12:00:00 AM,AA,N103NN,185.0,JFK,"New York, NY",New York,LAX,"Los Angeles, CA",California,...,0.0,0.0,389.0,395.0,2475.0,NaN,NaN,NaN,NaN,NaN
4,1/1/2025 12:00:00 AM,AA,N103NN,2455.0,BOS,"Boston, MA",Massachusetts,LAX,"Los Angeles, CA",California,...,0.0,0.0,399.0,375.0,2611.0,NaN,NaN,NaN,NaN,NaN
5,1/1/2025 12:00:00 AM,AA,N103NN,4.0,LAX,"Los Angeles, CA",California,JFK,"New York, NY",New York,...,0.0,0.0,331.0,285.0,2475.0,NaN,NaN,NaN,NaN,NaN
6,1/1/2025 12:00:00 AM,AA,N103US,1324.0,PHX,"Phoenix, AZ",Arizona,SMF,"Sacramento, CA",California,...,0.0,0.0,128.0,131.0,647.0,30.0,0.0,3.0,0.0,0.0
7,1/1/2025 12:00:00 AM,AA,N103US,1324.0,SMF,"Sacramento, CA",California,PHX,"Phoenix, AZ",Arizona,...,0.0,0.0,110.0,99.0,647.0,NaN,NaN,NaN,NaN,NaN
8,1/1/2025 12:00:00 AM,AA,N103US,1958.0,CMH,"Columbus, OH",Ohio,PHX,"Phoenix, AZ",Arizona,...,0.0,0.0,272.0,260.0,1670.0,NaN,NaN,NaN,NaN,NaN
9,1/1/2025 12:00:00 AM,AA,N103US,2808.0,PHX,"Phoenix, AZ",Arizona,OMA,"Omaha, NE",Nebraska,...,0.0,0.0,156.0,148.0,1037.0,NaN,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091035 entries, 0 to 2091034
Data columns (total 26 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_UNIQUE_CARRIER    object
 2   TAIL_NUM             object
 3   OP_CARRIER_FL_NUM    float64
 4   ORIGIN               object
 5   ORIGIN_CITY_NAME     object
 6   ORIGIN_STATE_NM      object
 7   DEST                 object
 8   DEST_CITY_NAME       object
 9   DEST_STATE_NM        object
 10  DEP_DELAY            float64
 11  DEP_DELAY_NEW        float64
 12  DEP_DEL15            float64
 13  ARR_DELAY            float64
 14  ARR_DELAY_NEW        float64
 15  ARR_DEL15            float64
 16  CANCELLED            float64
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  DISTANCE             float64
 21  CARRIER_DELAY        float64
 22  WEATHER_DELAY        float64
 23  NAS_DELAY            float64
 24  SECURITY_DELAY       float64
 25  LATE_AIRCRAFT_DELAY  float64
dtypes: float64(17), object(9)
memory usage: 414.8+ MB

In [13]:
df.isnull().sum()

FL_DATE                      0
OP_UNIQUE_CARRIER            0
TAIL_NUM                  4318
OP_CARRIER_FL_NUM            1
ORIGIN                       1
ORIGIN_CITY_NAME             1
ORIGIN_STATE_NM              1
DEST                         1
DEST_CITY_NAME               1
DEST_STATE_NM                1
DEP_DELAY                31549
DEP_DELAY_NEW            31549
DEP_DEL15                31550
ARR_DELAY                37036
ARR_DELAY_NEW            37037
ARR_DEL15                37037
CANCELLED                    3
DIVERTED                     3
CRS_ELAPSED_TIME             3
ACTUAL_ELAPSED_TIME      37037
DISTANCE                     3
CARRIER_DELAY          1689848
WEATHER_DELAY          1689848
NAS_DELAY              1689848
SECURITY_DELAY         1689848
LATE_AIRCRAFT_DELAY    1689848
dtype: int64

In [14]:
# Top 5 airlines by number of flights
df['OP_UNIQUE_CARRIER'].value_counts().head()

OP_UNIQUE_CARRIER
WN    414376
DL    297934
AA    296311
OO    246351
UA    233750
Name: count, dtype: int64

In [15]:
# Average arrival delay by the airline
df.groupby('OP_UNIQUE_CARRIER').ARR_DELAY.mean().head()

OP_UNIQUE_CARRIER
AA     8.405085
AS     1.066877
B6     5.690720
DL     3.840133
F9    11.295829
Name: ARR_DELAY, dtype: float64

In [20]:
# We have not sorted anything here yet, so it just shows randomish results by just grouping the airlines

In [21]:
# To show in descending order
df.groupby("OP_UNIQUE_CARRIER").ARR_DELAY.mean().sort_values(ascending=False).head()

OP_UNIQUE_CARRIER
OH    17.231861
F9    11.295829
G4     8.739947
AA     8.405085
OO     7.693081
Name: ARR_DELAY, dtype: float64

OO is the least delayed - arrival

OH is the most delayed - arrival

In [22]:
# Let's find the top busiest airports
df['ORIGIN'].value_counts().head()

ORIGIN
DFW    95289
DEN    92878
ATL    92526
ORD    86325
PHX    64602
Name: count, dtype: int64

In [23]:
# Let's save the df to a csv file for future data use
df.to_csv('Flight_Delay_JanApr2025.csv', index = False)

In [24]:
df = pd.read_csv('Flight_Delay_JanApr2025.csv')

In [25]:
df.columns

Index(['FL_DATE', 'OP_UNIQUE_CARRIER', 'TAIL_NUM', 'OP_CARRIER_FL_NUM',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_NM', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_NM', 'DEP_DELAY', 'DEP_DELAY_NEW',
       'DEP_DEL15', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'CANCELLED',
       'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'],
      dtype='object')